<h1>Home</h1>
<hr>
<form action="/cd-success" method="post">
  <div class="form-group">
    <label for="cd-name">Enter a CD name to add:</label>
    <br>
    <input type="text" name="cd-name">
  </div>
  <button class="btn btn-info" type="submit" >Add CD</button>
</form>

<hr>

<form action="/artist-success" method="post">
  <div class="form-group">
    <label for="artist-name">Enter Artist name to add:</label>
    <br>
    <input type="text" name="artist-name">
  </div>
  <button class="btn btn-success" type="submit" >Add artist</button>
</form>
